= form_with scope: :filter, url: filter_phones_path,
                      html: { method: :post } do |form|

  - Property.where(filter: [1..]).order(:filter).each do |property|

    = form.fields_for property.id.to_s do |f|

      .filter-group
        .filter-label=property.name
        - PropertyValue.where(property_id: property.id).each do |value|
          = content_tag :div, class: 'filter-block' do
            = f.check_box :value_id, { multiple: true }, value.property_data, nil
            = f.label :value_id, value.property_data

  .d-flex.justify-content-end.mt-1
    = form.submit 'Apply', class: 'btn btn-primary btn-sm'