.row
  .col-lg-2
    = render 'form_filters'

  .col-lg-10
    .active-filters
      - unless params[:query].nil?
        %i.text-primary Search query:
        = get_search_query

      - if params[:query].nil?
        Filters:
        = render 'filters_applied'

    .row.row-cols-1.row-cols-md-1.row-cols-lg-2.row-cols-xl-3
      - @phones.each do |phone|
        .phone-card
          .col
            .card.shadow-sm
              .card-body
                .card-text
                  = link_to (render 'phone', phone: phone), phone

    .pagination-wrapper
      != pagy_bootstrap_nav(@pagy)