%p{style: 'color: green'}= notice

.row
  .col
    .card.shadow-sm
      .card-body

        .row
          .col-md-7

            = render 'images/phone_images', phone: @phone

          .col-md-5
            .card.shadow-sm
              .card-body
                .card-text

                  = render 'phone_full', phone: @phone, edit_img: true

                  %div
                    = link_to 'Edit this phone', edit_phone_path(@phone)
                    |
                    = link_to 'Back to phones', phones_path
                    |
                    = link_to 'Destroy', phone_path(@phone),
                      data: {turbo_method: :delete, turbo_confirm: 'DELETE? Are you sure?'}

