%p{style: 'color: green'}= notice

.row
  .col
    .card.shadow-sm
      .card-body

        .row
          .col-lg-7

            = '123'

          .col-lg-5
            .right-block
              = '456'


        %hr
        .row
          %h5.text-primary.mb-3 Details
          .col-lg-6
            = 'phone_details'

          .col-lg-6
            = 'phone_details'



