<%= form_with model: property_group do |f| %>

  <% if property_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, 'error') %> prohibited this item from being saved:</h2>

      <ul>
        <% property_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :main %>
  <%= f.check_box :main %>
  <br>
  <%= f.label :order %>
  <%= f.number_field :order %>
  <br>
  <%= f.button :submit %>

<% end %>
