= form_with model: property_group do |f|
  - if property_group.errors.any?
    %div{style: 'color: red'}
      %h2
        = pluralize(property_group.errors.count, 'error')
        prohibited this phone from being saved:
      %ul
        - property_group.errors.each do |error|
          %li= error.full_message
  = f.label :name
  = f.text_field :name
  %br
  = f.label :order
  = f.number_field :order
  %br
  = f.button :submit
