<%= form_with model: property do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :order %>
  <%= form.number_field :order %>
  <br>
  <%= form.label :property_group %>
  <%= form.collection_radio_buttons :property_group_id, PropertyGroup.all, :id, :name %>
  <br>
  <%= form.submit %>

<% end %>
