%div{id: "#{dom_id property}"}
  %h4
    Name:
    %strong= property.name
  %p
    %strong Property Group:
    = property.property_group.name
  %p
    %strong Order:
    = property.order
  %p
    %strong Filter:
    = property.filter
  %p
    %strong Key Feature:
    = property.key_feature ? 'Yes' : 'No'

  %p
    %strong Values:
    - property.property_values.each do |value|
      = value.property_data
      ;