%div{id: "#{dom_id property}"}
  %p
    %strong Name:
    = property.name
  %p
    %strong Property Group:
    = property.property_group.name
  %p
    %strong Order:
    = property.order
  %p
    %strong Key Feature:
    = property.key_feature ? 'Yes' : 'No'

