= form_with model: property_value do |form|
  - if property_value.errors.any?
    %div{style: 'color: red'}
      %h2
        = pluralize(property_value.errors.count, 'error')
        prohibited this value from being saved:
      %ul
        - property_value.errors.each do |error|
          %li= error.full_message
  %br
  Property:
  %h3= property_name(prop_id)
  - PropertyValue.where(property_id: prop_id).each do |value|
    = value.property_data

  = form.hidden_field :property_id, value: prop_id
  %br
  = form.label :property_data
  = form.text_field :property_data

  = form.submit