= form_with model: item, data: { controller: 'radios' } do |form|
  - if item.errors.any?
    %div(style='color: red')
      %h2
        = pluralize(item.errors.count, 'error')
        prohibited this item from being saved:

      %ul
        - item.errors.each do |error|
          %li= error.full_message

  = form.label :name
  = form.text_field :name, size: 60
  %br
  = form.label :description
  = form.text_area :description, size: '60x5'
  %br
  = form.label :price
  = form.number_field :price, step: 0.01
  %br
  = form.label :url
  = form.text_field :url, size: 60
  %hr

  = turbo_frame_tag 'seller' do
    = form.label :seller
    = form.collection_select :seller_id, Seller.all, :id, :name
    = link_to 'New seller', new_seller_path

  -# = render 'items/modals/button_open_modal', form_id: 'seller_form', title: 'New Seller', prop_id: 0
  -#
  = render 'form_properties', form: form, item: item if show_properties == true

  = form.label :publish
  = form.check_box :publish
  %br
  %br
  = form.submit

= render 'items/modals/seller_form'