= form_with model: item do |form|
  - if item.errors.any?
    %div(style='color: red')
      %h2
        = pluralize(item.errors.count, 'error')
        prohibited this item from being saved:

      %ul
        - item.errors.each do |error|
          %li= error.full_message

  = form.label :name
  = form.text_field :name, size: 60
  %br
  = form.label :description
  = form.text_area :description, size: '60x5'
  %br
  = form.label :price
  = form.number_field :price, step: 0.01
  %br
  = form.label :url
  = form.text_field :url, size: 60
  %hr
  = form.label :seller
  = form.collection_select :seller_id, Seller.all, :id, :name

  = render 'items/modals/button_open_modal', form: 'seller_form', title: 'New Seller'

  -# - Property.key_features.each do | property |
  -#   %hr
  -#   = form.fields_for property, index: property.id do |property_form|
  -#     = property_form.label property.name
  -#     = property_form.collection_radio_buttons :property_value_ids, PropertyValue.where(property_id: property.id), :id, :property_data
  -#
  -# - Property.non_key_features.each do | property |
  -#   %hr
  -#   = form.fields_for property, index: property.id do |property_form|
  -#     = property_form.label property.name
  -#     = property_form.collection_radio_buttons :property_value_ids, PropertyValue.where(property_id: property.id), :id, :property_data

  - Property.key_features.each do | property |
    %hr
    = form.label property.name
    = form.collection_check_boxes :property_value_ids, PropertyValue.where(property_id: property.id), :id, :property_data

  - Property.non_key_features.each do | property |
    %hr
    = form.label property.name
    = form.collection_check_boxes :property_value_ids, PropertyValue.where(property_id: property.id), :id, :property_data

  %br
  %br
  = form.submit

= render 'items/modals/seller_form'
