%hr
- Property.key_features.each do | property |

  = turbo_frame_tag "property-#{property.id}" do
    = form.fields_for property, index: property.id do |property_form|
      = property_form.label property.name
      = property_form.collection_radio_buttons :property_value_ids, PropertyValue.where(property_id: property.id),
      :id, :property_data, { checked: item.property_values.find_by(property_id: property.id)&.id }
      = link_to 'New value', new_property_value_path(id: property.id)
  %hr

- Property.non_key_features.each do | property |

  = turbo_frame_tag "property-#{property.id}" do
    = form.fields_for property, index: property.id do |property_form|
      = property_form.label property.name
      = property_form.collection_radio_buttons :property_value_ids, PropertyValue.where(property_id: property.id),
      :id, :property_data, checked: item.property_values.find_by(property_id: property.id)&.id
      = link_to 'New value', new_property_value_path(id: property.id)
  %hr