%div{id: "#{ dom_id item }"}
  %p
    %strong Name:
    = item.name
  %p
    %strong Description:
    = item.description
  %p
    %strong Price:
    = item.price

  %p
    %strong Seller:
    = item.seller.name if item.seller
  %p
    %strong Url:
    = item.url

  = turbo_frame_tag "item-images-#{item.id}" do
    %p
      = render 'images/item_images', item: item, edit_img: edit_img

  %h3 Key features
  - key_features_values(item).each do | p_value |
    %p
      %strong #{p_value.property.name}:
      = p_value.property_data

  %h3 Details
  - non_key_features_values(item).each do | p_value |
    %p
      %strong #{p_value.property.name}:
      = p_value.property_data