<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= item.url %>
  </p>

  <p>
    <strong>
      <%= item.property_values[0].property.name if item.property_values[0]  %>:
    </strong>
    <%= item.property_values[0].property_data if item.property_values[0] %>
  </p>

</div>
