= form_with(model: image) do |form|
  - if image.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(image.errors.count, "error")
        prohibited this image from being saved:
      %ul
        - image.errors.each do |error|
          %li= error.full_message
  %hr

  = form.label :item_id
  = form.text_field :item_id, value: item_id
  %br
  = form.label :url
  = form.text_area :url
  %br
  = form.label :order
  = form.number_field :order

  %div
    = form.submit
