= form_with(model: image) do |form|
  - if image.errors.any?
    %div{:style => 'color: red'}
      %h2
        = pluralize(image.errors.count, 'error')
        prohibited this image from being saved:
      %ul
        - image.errors.each do |error|
          %li= error.full_message
  %hr

  = form.hidden_field :phone_id, value: phone_id

  = form.label :url
  = form.text_area :url, size: '70x3'
  %br
  = form.label :order
  = form.number_field :order

  %div
    = form.submit
