= turbo_frame_tag "item-images-#{@image.item_id}" do

  %p{style: 'color: green'}
    = notice

  = render @image

  %div
    = link_to 'Edit this image', edit_image_path(@image)
    |
    = link_to 'Close', :back
    |
    = link_to 'Destroy', item_path(@image),
    data: { turbo_method: :delete, turbo_confirm: 'DELETE? Are you sure?' }
